@page
@model SkillSwap.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Sei stato disconnesso correttamente dall'applicazione.</p>
</header>